.ml {
	position: relative;
	--year-fr: calc(100% / var(--years));
	--month-fr: calc(var(--year-fr) / 12);
	--day-fr: calc(var(--month-fr) / 31);

	width: 94vw;
	counter-reset: participant;

	margin-left: calc(-1 * (47vw - var(--container-width) / 2));

	position: relative;
	table-layout: fixed;
	border-spacing: 0;
	margin-bottom: 2em;
}

h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
}

.terms {
	position: relative;
}

.ml tbody tr:nth-child(odd) {
	background: hsl(220 10% 97%);
}

.ml tbody tr:hover {
	background: hsl(220 10% 93%);
}

.ml thead th {
	--padding: .3em;
	padding: var(--padding);
	word-break: break-all;
}

.ml thead th + th::before {
	content: "";
	position: absolute;
	margin-left: calc(-1 * var(--padding));
	top: 0;
	bottom: 0;
	width: 1px;
	background: hsl(220 10% 50% / .3);
}

.ml th.name {
	padding: .1em;
	white-space: nowrap;
	counter-increment: participant;
	text-align: left;
	font-weight: normal;
}

.ml th:first-child {
	width: 14em;
}

.ml td.terms > div {
	display: grid;
	grid-template-columns: repeat(calc(var(--years) + 1), 1fr);
}

.term {
	--_sy: calc(var(--sy) - 2022);
	--_ey: calc(var(--ey) - 2022);
	--_sm: calc(var(--sm) - 1);
	--_em: calc(var(--em) - 1);
	--start: calc(var(--day-fr) * var(--sd) + var(--month-fr) * var(--_sm) + var(--_sy) * var(--year-fr) );
	--end: calc(var(--day-fr) * var(--ed) + var(--month-fr) * var(--_em) + var(--_ey) * var(--year-fr) );

	position: absolute;
	top: 50%;
	left: var(--start);
	transform: translateY(-50%);
	width: calc(var(--end) - var(--start));
	grid-column-start: calc(1 + var(--_sy));
	grid-column-end: calc(1 + var(--_ey));
	box-sizing: border-box;
	padding: .4em;
	font-size: 70%;
	font-weight: bold;
	color: black;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	background: hsl(220 10% 70%) linear-gradient(to right, white, hsl(0 0% 0% / .1) 2px, transparent);
	border-radius: 1px;
}

/* Directors */

.term.appointed {
    background-color: hsl(0, 80%, 77%);
}

.term.elected {
    color: white;
    background-color: hsl(230, 80%, 59%);
}

.term.partner {
    background-color: hsl(162, 80%, 59%);
}

/* Chairs */

.term.board {
    background-color: hsl(0, 80%, 86%);
}

.term.finance-committee {
    background-color: hsl(255, 80%, 86%);
}

.term.governance-committee {
    background-color: hsl(188, 80%, 86%);
}

.term.personnel-committee {
    background-color: hsl(131, 80%, 86%);
}

.term.audit-committee {
    background-color: hsl(85, 80%, 86%);
}

.term.board-development-committee {
    background-color: hsl(39, 80%, 77%);
}

/* Officers */


.term.secretary {
    background-color: hsl(208, 80%, 86%);
}

.term.treasurer {
    background-color: hsl(339, 80%, 86%);
}

.term.president {
    background-color: hsl(288, 80%, 77%);
}

.term.resigned {
    border-right: 3px solid hsl(0, 80%, 59%);
}

/* Liaisons */

.term.ab-liaison {
    background-color: hsl(220 10% 70%) ;
}
